<div class="rack">
  <h4>Rack {{ rack.number }}</h4>

  <div class="sensors">

    <div class="upsstrom">
      <h5>
        {% if rack.pdus.ups %}
          <a href="{% url 'ipdevinfo-details-by-id' rack.pdus.ups.netbox.pk %}">
            UPS
          </a>
        {% else %}
          UPS
        {% endif %}
      </h5>

      {% if rack.pdus.ups %}
        <div class="apc-management">
          {% for sensor in rack.pdus.ups.sensors %}
            <div id='id_{{ sensor.id }}' class="apc-sensor"
                 data-metric="{{ sensor.get_metric_name }}"></div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    {# .upsstrom #}

    {% if rack.pdus.ups and rack.pdus.by %}
      <div class="stromsum_upper">
        <div>&#8721;</div>
        <div class="currentvalue"></div>
      </div>

      <div class="stromsum_lower">
        <div>&#8721;</div>
        <div class="currentvalue"></div>
      </div>
    {% endif %}

    <div class="bystrom">
      <h5>
        {% if rack.pdus.by %}
          <a href="{% url 'ipdevinfo-details-by-id' rack.pdus.by.netbox.pk %}">
            BY
          </a>
        {% else %}
          BY
        {% endif %}
      </h5>

      {% if rack.pdus.by %}
        <div class="apc-management">
          {% for sensor in rack.pdus.by.sensors %}
            <div id='id_{{ sensor.id }}' class="apc-sensor"
                 data-metric="{{ sensor.get_metric_name }}"></div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    {# .bystrom #}

    <div class="clearfix"></div>
    <div class="notation">Ampere</div>
  </div> {# .sensors #}
</div> {# .rack #}
