<div id="ups-container">
  {% for up in ups %}
    <div class="ups-status">
      <h3>Status {{ up.sysname }}</h3>

      {# Indicate when last updated #}
      <small class="last-updated">
        Last updated: <span></span>
      </small>

      <div>
      {% include 'info/room/power_gauges.html' %}

      {% include 'info/room/power_figure.html' %}
      </div>

    </div> {# .ups-status #}

  {% endfor %}
</div> {# #ups-sensors #}


<h3>PDU load status</h3>

<div id="pdu-container">
  <div>
    <small class="last-updated">
      Last updated: <span></span>
    </small>
  </div>

  {% for rack in racks %}
    {% include 'info/room/power_pdus.html' %}
  {% endfor %}
</div>  {# #pdu-container #}

